<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:b="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	xmlns:sec="http://www.springframework.org/schema/security">

	<sec:global-method-security
		secured-annotations="enabled" />

	<sec:http use-expressions="true" auto-config="true" >

		<sec:intercept-url pattern="/*.jsf" access="isAuthenticated()" />
		<sec:intercept-url pattern="/index.jsf" access="hasRole('USER_ROLE')" />
		<sec:intercept-url pattern="/login.jsf" access="permitAll" />
				

		<sec:form-login login-page="/login.jsf"
			authentication-failure-url="/login.jsf?failure=true" />

			<sec:logout invalidate-session="true"/>

		<sec:access-denied-handler error-page="login.jsf" />
	</sec:http>


	<sec:authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="test" password="test" authorities="USER_ROLE"/>
			</user-service>
		</authentication-provider>
	</sec:authentication-manager>

</b:beans>